@font-face {
    font-family: 'GothicB';
    src: url('fonts/GOTHICB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    font-family: 'GothicB', Arial, sans-serif;
    background-color: #EE9EB5;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.theme-buttons {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.color-circle:hover {
    transform: scale(1.1);
}
.theme-label {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/* EP Theme Button Styling */
#ep-theme {
    position: relative;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Centering the label */
#ep-theme .theme-label {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    pointer-events: none;
}


.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.output-container {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.disclaimer {
    font-size: 12px;
    color: #ffcedb;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 1000;
}


.disclaimer a {
    color: #ffcedb;
}
.disclaimer a:hover {
    color: #fff;
}

#outputText {
    font-family: 'GothicB', Arial, sans-serif;
    font-weight: bold;
    font-size: 36px;
    padding: 20px;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    /* max-width: 94%; */
    line-height: 1.2;
    text-transform: uppercase;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    letter-spacing: 10px;
    margin: 0 auto;
}

#userInput {
    width: 90%;
    max-width: 450px;
    height: 60px;
    font-size: 14px;
    padding: 18px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
    background-color: #ffffff;
    color: #333;
    text-align: center;
    line-height: 1;
    margin-top: 10px;
}

#userInput::placeholder {
    color: #999;
    opacity: 1;
    text-align: center;
    font-size: 14px;
    line-height: 60px;
}

.screenshot-text {
    font-size: 14px;
    color: #fff;
    margin-top: 5px;
    font-style: italic;
    margin-top: 10px;
}
#toggleBoxContainer {
    display: none;
}

body.selftitled-theme #toggleBoxContainer {
    display: flex;
}

@media (max-width: 600px) {
    #outputText {
        font-size: 16px;
        letter-spacing: 8px;
        padding: 10px;
    }

    #userInput {
        width: 90%;
        max-width: 90%;
        height: 50px;
        font-size: 14px;
        padding: 10px 0;
        margin: 30px auto 0;
    }

    .container {
        padding-top: 20px;
        margin: 0 auto;
    }

    body, html {
        height: auto;
        min-height: 100vh;
    }
}
